<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Leitor de CNJ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Extrator de Processos CNJ</h1>
    <form method="post" enctype="multipart/form-data">
      <label for="pdfs">Selecione arquivos PDF:</label>
      <input type="file" id="pdfs" name="pdfs" multiple required>
      <button type="submit">Enviar</button>
    </form>

    {% if resultados %}
      <h2>Conteúdo dos Arquivos:</h2>
      <form action="{{ url_for('baixar_xlsx') }}">
        <button type="submit">Gravar Resultados (.xlsx)</button>
      </form>
      <br>
      {% for resultado in resultados %}
        <h3>Arquivo: {{ resultado.arquivo }}</h3>
        {% for pagina in resultado.paginas %}
          <div class="pagina">
            <h4>Página {{ pagina.pagina }}</h4>
            <pre>{{ pagina.texto | safe }}</pre>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</body>
</html>
